asgiref==3.12.1
dj-database-url==3.1.2
dj-email-url==1.0.6
Django==6.0.7
django-cache-url==3.4.6
django-widget-tweaks==1.5.1
environs==15.1.0
gunicorn==26.0.0
marshmallow==4.3.0
packaging==26.2
pillow==12.3.0
psycopg==3.3.4
psycopg-binary==3.3.4
python-dotenv==1.2.2
sqlparse==0.5.5
whitenoise==6.12.0
